
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

     <!-- single product list -->

    <main class="mt-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <section id="post" class="border-bottom mb-3">
              <div class="border-bottom mb-3">
                <p class="h3 text-danger"><strong>{{singleitem.title}}</strong></p>
                <p class="h6 text-muted">
                  <span>Itahari Sunsari | </span>
                  <span>Published {{singleitem.created}} ago</span>
                </p>
              </div>
              <!-- Carousel wrapper -->
              <div
                id="carouselDarkVariant"
                class="carousel slide carousel-fade carousel-dark"
                data-mdb-ride="carousel"
              >
                <!-- Indicators -->
                <div class="carousel-indicators">
                  <button
                    data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide-to="1"
                    aria-label="Slide 1"
                  ></button>
                  <button
                    data-mdb-target="#carouselDarkVariant"
                    data-mdb-slide-to="2"
                    aria-label="Slide 1"
                  ></button>
                </div>

                <!-- Inner -->
                <div class="carousel-inner">
                  <!-- Single item -->
                  <div class="carousel-item active">
                    <a href="https://mdbootstrap.com/">
                    <img
                      {% comment %} src="{{singleitem.featured_image.url}}" {% endcomment %}
                      class="d-block w-100"
                      alt="..."
                    />
                  </a>
                  </div>

                  <!-- Single item -->
                  <div class="carousel-item">
                    <img
                      src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>

                  <!-- Single item -->
                  <div class="carousel-item">
                    <img
                      src="https://mdbootstrap.com/img/Photos/Slides/img%20(40).jpg"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                <!-- Inner -->

                <!-- Controls -->
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="prev"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-mdb-target="#carouselDarkVariant"
                  data-mdb-slide="next"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Carousel wrapper -->
            </section>
            <section class="mt-4">
               <div class="row">
                 <div class="col-md-6">
                  <div class="labelselect itemsdetail bg-light border">
                    <div class="text-center rounded-1 fw-bold text-uppercase text-muted" style="background-color:#E8EAF6">
                      price details
                    </div>
                    <div class="d-flex  mb-1 flex-row mx-2 justify-content-between">
                      <p class="mb-0 fw-light"><strong>Price:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.price}}</p>
                    </div>
                    <div class="d-flex  mb-1 flex-row mx-2 justify-content-between">
                      <p class="mb-0 fw-light"><strong>Conditions:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.conditions}}</p>
                    </div>
                    <div class="d-flex  mb-1 flex-row mx-2 justify-content-between">
                      <p class="mb-0 fw-light"><strong>Usedfor:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.userfor}}</p>
                    </div>
                    <div class="d-flex  mb-1 flex-row mx-2 justify-content-between">
                      <p class="mb-0 fw-light"><strong>Is negotiable:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.isnegotiate}}</p>
                    </div>
  
                  </div>
                 </div>
                 <div class="col-md-6">
                  <div class="labelselect itemsdetail bg-light border">
                    <div class=" text-center rounded-1 fw-bold text-uppercase text-muted" style="background-color:#E8EAF6">
                      delivery and warrenty details
                    </div>
                    <div class="d-flex mx-2 mb-1 flex-row  justify-content-between">
                      <p class="mb-0 fw-light"><strong>Home delivery:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.isdeliver}}</p>
                    </div>
                    <div class="d-flex mx-2 mb-1 flex-row  justify-content-between">
                      <p class="mb-0 fw-light"><strong>Delivery area:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.deliveryarea}}</p>
                    </div>
                    <div class="d-flex mx-2 mb-1 flex-row  justify-content-between">
                      <p class="mb-0 fw-light"><strong>Warrenty:</strong> </p>
                      <p class="mb-0 fw-light text-muted">2 years</p>
                    </div>
                    <div class="d-flex mx-2 mb-1 flex-row  justify-content-between">
                      <p class="mb-0 fw-light"><strong>Delivery charge:</strong> </p>
                      <p class="mb-0 fw-light text-muted">{{singleitem.deliverycharges}}</p>
                    </div>
  
                  </div>
                 </div>
               </div>
               
               
            </section>
            <section
              id="content"
              class="border labelselect itemsdetail shadow-1 mt-3"
            >
            <div class="text-center rounded-1  fw-bold text-uppercase text-muted" style="background-color:#E8EAF6">
              descriptions
            </div>
              <p class="px-2 bg-light">
                {{singleitem.descriptions|linebreaksbr}}
              </p>        
            </section>        
            <section
              id="comments"
              class="border-bottom shadow-1 mb-3  mt-4 px-3"
            >
              
            {% if request.user.profile.id in singleitem.reviewers %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{itemsprofile.name}}&nbsp;</strong>You have already submitted review for this Project
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% elif request.user.profile == singleitem.owner %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <strong>{{itemsprofile.name}}&nbsp;</strong>You can't review your own project
                  
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
            {% elif  request.user.is_authenticated %}

              <form action="{% url 'singleproduct' singleitem.id %}" method="POST" >
              {% csrf_token %}  
                <div class="row">
                  <div class="col-md-8">
                    <div class="input-group mb-5">
                      <span class="input-group-text">Write Comment:</span>
                      {% comment %} <textarea
                        class="form-control"
                        aria-label="With textarea"
                      ></textarea> {% endcomment %}
                      {% render_field form.body type="text" class="form-control" %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <button
                      type="submit"
                      name="reviewsubmit"
                      class="btn btn-primary  btn-block mb-4"
                    >
                      POST COMMENT
                    </button>
                  </div>
                </div>
              </form>
              {% else %}
                  <p class="note note-warning">
               <a href="{% url 'userlogin'%}?next={{request.path}}"><button type="button" class="btn btn-warning btn-rounded   btn-sm" data-mdb-ripple-color="#ffffff">&nbsp;Login here</button></a>&nbsp;You have to be login for comment !!!
              </p>
              {% endif %}
              <p class="text-center"><strong>Comments: </strong></p>
            {% for review in singleitem.review_set.all  %}
            {% if  review.body %}
              <div class="row mb-4 border-bottom">
                <div class="col-2">
                  <img
                    src="{{review.owner.profile_image.url}}"
                    alt="cmntimg"
                    class="img-fluid shadow-1-strong rounded "
                  />
                </div>
                <div class="col-10">
                  <p class="mb-2"><strong>{{review.owner.name}}</strong></p>
                  <p>
                      {{review.body|linebreaksbr}}
                  </p>
                </div>
              </div>
            {% endif %}
            {% endfor %}
             
            </section>
          </div>
          <div class="col-md-4">
            <section id="leftinfo" class="text-end">
              <div class="card text-center mt-5">
                <div class="card-header" style="background-color:#E8EAF6">Seller Info</div>
                <div class="card-body bg-light">
                  <img
                    {% comment %} src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg" {% endcomment %}
                    src="{{itemsprofile.profile_image.url}}"
                    class="rounded-circle me-3"
                    height="50px"
                    width="50px"
                    alt="avatar"
                  />
                  <h5 class="card-title mt-4">{{itemsprofile.name}}</h5>
                  <div class="d-flex labelselect mb-2 flex-row border-bottom justify-content-between">
                    <p class="mb-0 fw-light"><strong>location:</strong> </p>
                    <p class="mb-0 fw-light text-muted">{{itemsprofile.locations}}</p>
                    <p class="mb-0 fw-light text-muted">{{itemsprofile.listingcity}}</p>
                  </div>
                  <div class="d-flex labelselect mb-2 flex-row border-bottom justify-content-between">
                    <p class="mb-0 fw-light"><strong>Mobile Phon:</strong> </p>
                    <p class="mb-0 fw-light text-muted">{{itemsprofile.phonnumber}}</p>
                  </div>
                  <div class="d-flex labelselect mb-2 flex-row border-bottom justify-content-between">
                    <p class="mb-0 fw-light"><strong>Member Since:</strong> </p>
                    <p class="mb-0 fw-light text-muted">2021-12-30</p>
                  </div>
                  <a href="#" class="btn mt-2 btn-primary">Send Mail</a>
                </div>
                <div class="card-footer text-muted">
                  <div class="text-lg-center">
                    <!-- Facebook -->
                    <a
                      class="btn btn-primary px-3 mr-1"
                      style="background-color: #3b5998"
                      href="#!"
                      role="button"
                      ><i class="fab fa-facebook-f"></i
                    ></a>

                    <!-- Twitter -->
                    <a
                      class="btn btn-primary px-3 mr-1"
                      style="background-color: #55acee"
                      href="#!"
                      role="button"
                      ><i class="fab fa-twitter"></i
                    ></a>

                    <!-- Google -->
                    <a
                      class="btn btn-primary px-3 mr-1"
                      style="background-color: #dd4b39"
                      href="#!"
                      role="button"
                      ><i class="fab fa-google"></i
                    ></a>

                    <!-- Instagram -->
                    <a
                      class="btn btn-primary px-3 mr-1"
                      style="background-color: #ac2bac"
                      href="#!"
                      role="button"
                      ><i class="fab fa-instagram"></i
                    ></a>

                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary px-3 mr-1"
                      style="background-color: #0082ca"
                      href="#!"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                  </div>
                </div>
              </div>
            </section>
            <section id="reply" class="border-bottom shadow-2 mb-3 px-3">
              <p class="text-center text-danger mt-3">
                <strong>Contact Seller</strong>
              </p>
              <form action="{% url 'singleproduct' singleitem.id %}" method="POST">
              {% csrf_token %}
                <!-- Name input -->
                <div class="form-outline mb-4">
                  <input type="text" id="form4Example1" name="your_name" class="form-control" />
                  <label class="form-label" for="form4Example1">Name</label>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="form4Example2" name="your_email" class="form-control" />
                  <label class="form-label" for="form4Example2"
                    >Email address</label
                  >
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                  <textarea
                    class="form-control" 
                    name="your_message"
                    id="form4Example3"
                    rows="4"
                  ></textarea>
                  <label class="form-label" for="form4Example3">Message</label>
                </div>

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form4Example4"
                    checked
                  />
                  <label class="form-check-label" for="form4Example4">
                    Send me a copy of this message
                  </label>
                </div>

                <!-- Submit button -->
                <button type="submit" name="sendmail" class="btn btn-primary btn-sm btn-block mb-4">
                  Send
                </button>
              </form>
            </section>
          </div>
        </div>
      </div>
    </main>

    <!-- End Single Product list -->

{% endblock content %}